<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GetDaySleepRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetDaySleepRecordsRequest</string>
		<key>request</key>
		<string>getDaySleepRecordsRequest</string>
		<key>response</key>
		<string>getDaySleepRecordsResponse</string>
		<key>url</key>
		<string>%@/datachart_service/sleepdata/getDaySleepRecord</string>
		<key>spurl</key>
		<string>%@/sleep_service/sleep/health/getDaySleepRecord</string>
		<key>heurl</key>
		<string>%@/datachart_service/sleepdata/getDaySleepRecord</string>
	</dict>
	<key>GetRangSleepRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetRangSleepRecordsRequest</string>
		<key>request</key>
		<string>getRangSleepRecordsRequest</string>
		<key>response</key>
		<string>getRangSleepRecordsResponse</string>
		<key>url</key>
		<string>%@/datachart_service/sleepdata/getWeekOrMonthSleepRecords</string>
		<key>spurl</key>
		<string>%@/sleep_service/sleep/health/getWeekOrMonthSleepRecords</string>
		<key>heurl</key>
		<string>%@/datachart_service/sleepdata/getWeekOrMonthSleepRecords</string>
	</dict>
	<key>GetSleepRecordsListRequest</key>
	<dict>
		<key>desc</key>
		<string>GetSleepRecordsListRequest</string>
		<key>request</key>
		<string>GetSleepRecordsListRequest</string>
		<key>response</key>
		<string>GetSleepRecordsListResponse</string>
		<key>url</key>
		<string>%@/datachart_service/sleepdata/getSleepRecordsByTimeAndCount</string>
	</dict>
	<key>GetDayHeartRateRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetDayHeartRateRecordsRequest</string>
		<key>request</key>
		<string>getDayHeartRateRecordsRequest</string>
		<key>response</key>
		<string>getDayHeartRateRecordsResponse</string>
		<key>url</key>
		<string>%@/heartrate_service/heartrate/getHeartRateAnalysis</string>
		<key>spurl</key>
		<string>%@/heartrate_service/heartrate/getHeartRateAnalysis</string>
		<key>heurl</key>
		<string>%@/datachart_service/heartratedata/getHeartRateAnalysis</string>
	</dict>
	<key>GetHeartRateAnalysisListRequest</key>
	<dict>
		<key>desc</key>
		<string>GetHeartRateAnalysisListRequest</string>
		<key>request</key>
		<string>getHeartRateAnalysisListRequest</string>
		<key>response</key>
		<string>getHeartRateAnalysisListResponse</string>
		<key>url</key>
		<string>%@/datachart_service/heartratedata/getHeartRateAnalysisList</string>
		<key>spurl</key>
		<string>%@/heartrate_service/heartrate/getHeartRateAnalysisList</string>
		<key>heurl</key>
		<string>%@/datachart_service/heartratedata/getHeartRateAnalysisList</string>
	</dict>
	<key>GetLastWeightRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetLastWeightRecordRequest</string>
		<key>request</key>
		<string>GetLastWeightRecordRequest</string>
		<key>response</key>
		<string>GetLastWeightRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/weightdata/getLatestRecord</string>
		<key>spurl</key>
		<string>%@/weight_service/weight/getLatestRecord</string>
		<key>heurl</key>
		<string>%@/datachart_service/weightdata/getLatestRecord</string>
	</dict>
	<key>GetRangWeightRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetRangWeightRecordRequest</string>
		<key>request</key>
		<string>GetRangWeightRecordRequest</string>
		<key>response</key>
		<string>GetRangWeightRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/weightdata/getRecordsByPeriod</string>
		<key>spurl</key>
		<string>%@/weight_service/weight/getRecordsByPeriod</string>
		<key>heurl</key>
		<string>%@/datachart_service/weightdata/getRecordsByPeriod</string>
	</dict>
	<key>GetWeightRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetWeightRecordRequest</string>
		<key>request</key>
		<string>GetWeightRecordRequest</string>
		<key>response</key>
		<string>GetWeightRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/weightdata/getRecords</string>
		<key>spurl</key>
		<string>%@/weight_service/weight/getRecords</string>
		<key>heurl</key>
		<string>%@/datachart_service/weightdata/getRecords</string>
	</dict>
	<key>GetWeightAverageRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetWeightAverageRecordRequest</string>
		<key>request</key>
		<string>GetWeightAverageRecordRequest</string>
		<key>response</key>
		<string>GetWeightAverageResponse</string>
		<key>url</key>
		<string>%@/datachart_service/weightdata/getAvgRecordsByUser</string>
		<key>spurl</key>
		<string>%@/weight_service/weight/getAvgRecordsByUser</string>
		<key>heurl</key>
		<string>%@/datachart_service/weightdata/getAvgRecordsByUser</string>
	</dict>
	<key>GetLatestPedometerRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetLatestPedometerRecordRequest</string>
		<key>request</key>
		<string>GetLatestPedometerRecordRequest</string>
		<key>response</key>
		<string>GetLatestPedometerRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/walkdata/getLatestPedometerRecord</string>
		<key>spurl</key>
		<string>%@/sport_service/sport/sport/getLatestPedometerRecord</string>
		<key>heurl</key>
		<string>%@/datachart_service/walkdata/getLatestPedometerRecord</string>
	</dict>
	<key>GetPedometerRecordsHourlyRequest</key>
	<dict>
		<key>desc</key>
		<string>GetPedometerRecordsHourlyRequest</string>
		<key>request</key>
		<string>GetPedometerRecordsHourlyRequest</string>
		<key>response</key>
		<string>GetPedometerRecordsHourlyResponse</string>
		<key>url</key>
		<string>%@/datachart_service/walkdata/queryPedometerRecordsHourly</string>
		<key>spurl</key>
		<string>%@/sport_service/sport/sport/queryPedometerRecordsHourly</string>
		<key>heurl</key>
		<string>%@/datachart_service/walkdata/queryPedometerRecordsHourly</string>
	</dict>
	<key>GetPedometerRecordRangDayRequest</key>
	<dict>
		<key>desc</key>
		<string>GetPedometerRecordRangDayRequest</string>
		<key>request</key>
		<string>GetPedometerRecordRangDayRequest</string>
		<key>response</key>
		<string>GetPedometerRecordRangDayResponse</string>
		<key>url</key>
		<string>%@/datachart_service/walkdata/queryPedometerRecordDay</string>
		<key>spurl</key>
		<string>%@/sport_service/sport/sport/queryPedometerRecordDay</string>
		<key>haurl</key>
		<string>%@/datachart_service/walkdata/queryPedometerRecordDay</string>
	</dict>
	<key>GetLastBpRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetLastBpRecordRequest</string>
		<key>request</key>
		<string>GetLastBpRecordRequest</string>
		<key>response</key>
		<string>GetLastBpRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_bp_record</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_bp_record</string>
	</dict>
	<key>GetDayRangBpRequest</key>
	<dict>
		<key>desc</key>
		<string>GetDayRangBpRequest</string>
		<key>request</key>
		<string>GetDayRangBpRequest</string>
		<key>response</key>
		<string>GetDayRangBpResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_bp_list</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_bp_list</string>
	</dict>
	<key>GetDateAverageBpRequest</key>
	<dict>
		<key>desc</key>
		<string>GetDateAverageBpRequest</string>
		<key>request</key>
		<string>GetDateAverageBpRequest</string>
		<key>response</key>
		<string>GetDateAverageBpResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_daily_avg</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_daily_avg</string>
	</dict>
	<key>GetWeekAverageBpRequest</key>
	<dict>
		<key>desc</key>
		<string>GetWeekAverageBpRequest</string>
		<key>request</key>
		<string>GetWeekAverageBpRequest</string>
		<key>response</key>
		<string>GetWeekAverageBpResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_week_avg</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_week_avg</string>
	</dict>
	<key>GetMonthAverageBpRequest</key>
	<dict>
		<key>desc</key>
		<string>GetMonthAverageBpRequest</string>
		<key>request</key>
		<string>GetMonthAverageBpRequest</string>
		<key>response</key>
		<string>GetMonthAverageBpResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_month_avg</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_month_avg</string>
	</dict>
	<key>GetBpPageListRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBpPageListRequest</string>
		<key>request</key>
		<string>GetBpPageListRequest</string>
		<key>response</key>
		<string>GetBpPageListResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_page_list</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_page_list</string>
	</dict>
	<key>GetBpRangStatisticAnalysisRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBpRangStatisticAnalysisRequest</string>
		<key>request</key>
		<string>GetBpRangStatisticAnalysisRequest</string>
		<key>response</key>
		<string>GetBpRangStatisticAnalysisResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_total_normal</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bpdata/get_total_normal</string>
	</dict>
	<key>GetBooldSugarDetailRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBooldSugarDetailRecordsRequest</string>
		<key>request</key>
		<string>GetBooldSugarDetailRecordsRequest</string>
		<key>response</key>
		<string>GetBooldSugarDetailRecordsResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bs/doctor/get_detail_records</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bs/doctor/get_detail_records</string>
	</dict>
	<key>GetBooldSugarActiveDegreeRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBooldSugarActiveDegreeRequest</string>
		<key>request</key>
		<string>GetBooldSugarActiveDegreeRequest</string>
		<key>response</key>
		<string>GetBooldSugarActiveDegreeResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bs/doctor/get_active_degree</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bs/doctor/get_active_degree</string>
	</dict>
	<key>GetBooldSugarRoundRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBooldSugarRoundRecordsRequest</string>
		<key>request</key>
		<string>GetBooldSugarRoundRecordsRequest</string>
		<key>response</key>
		<string>GetBooldSugarRoundRecordsResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bs/doctor/get_round_records</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bs/doctor/get_round_records</string>
	</dict>
	<key>GetBooldSugarHistoryRecordsRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBooldSugarHistoryRecordsRequest</string>
		<key>request</key>
		<string>GetBooldSugarHistoryRecordsRequest</string>
		<key>response</key>
		<string>GetBooldSugarHistoryRecordsResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bs/doctor/get_history_records</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bs/doctor/get_history_records</string>
	</dict>
	<key>GetBooldSugarLastRecordRequest</key>
	<dict>
		<key>desc</key>
		<string>GetBooldSugarLastRecordRequest</string>
		<key>request</key>
		<string>GetBooldSugarLastRecordRequest</string>
		<key>response</key>
		<string>GetBooldSugarLastRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bs/doctor/get_last_record</string>
		<key>spurl</key>
		<string>lost</string>
		<key>haurl</key>
		<string>%@/datachart_service/bs/doctor/get_last_record</string>
	</dict>
</dict>
</plist>
