<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GetFollowupRecords</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupRecords</string>
		<key>request</key>
		<string>LSDGetFollowupRecordsRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/get_followup_records</string>
	</dict>
	<key>GetDoctorQrcode</key>
	<dict>
		<key>desc</key>
		<string>GetDoctorQrcode</string>
		<key>request</key>
		<string>LSDGetDoctorQrcodeRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/doctor_patient/get_doctorqrcode</string>
	</dict>
	<key>GetOrgan</key>
	<dict>
		<key>desc</key>
		<string>GetOrgan</string>
		<key>request</key>
		<string>LSDGetOrganRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/supportplatform/get_organ</string>
	</dict>
	<key>GetProvincesAndCities</key>
	<dict>
		<key>desc</key>
		<string>GetProvincesAndCities</string>
		<key>request</key>
		<string>LSDGetProvincesAndCitiesRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/supportplatform/get_area</string>
	</dict>
	<key>SaveFeedback</key>
	<dict>
		<key>desc</key>
		<string>SaveFeedback</string>
		<key>request</key>
		<string>LSDSaveFeedbackRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/feedback/save</string>
	</dict>
	<key>GetPatientQrcode</key>
	<dict>
		<key>desc</key>
		<string>GetPatientQrcode</string>
		<key>request</key>
		<string>LSDGetPatientQrcodeRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/doctor_patient/get_qrcode</string>
	</dict>
	<key>VersionUpdate</key>
	<dict>
		<key>desc</key>
		<string>VersionUpdate</string>
		<key>request</key>
		<string>LSDVersionUpdateRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/commons_rest/appversion/getAppVersionInfo</string>
	</dict>
	<key>GetFollowupDicts</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupDicts</string>
		<key>request</key>
		<string>LSDGetFollowupDictsRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/get_dicts</string>
	</dict>
	<key>UpdateFollowupReportTime</key>
	<dict>
		<key>desc</key>
		<string>UpdateFollowupReportTime</string>
		<key>request</key>
		<string>LSDUpdateFollowupReportTimeRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/save_followup_report</string>
	</dict>
	<key>GetFollowupReport</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupReport</string>
		<key>request</key>
		<string>LSDGetFollowupReportRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/get_followup_record</string>
	</dict>
	<key>SaveFollowupRecort</key>
	<dict>
		<key>desc</key>
		<string>SaveFollowupRecort</string>
		<key>request</key>
		<string>LSDSaveFollowupRecortRequest</string>
		<key>response</key>
		<string>LSDGetFollowupDictResponse</string>
		<key>url</key>
		<string>%@/followup_service/save_followup_report</string>
	</dict>
	<key>GetFollowupDict</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupDict</string>
		<key>request</key>
		<string>LSDGetFollowupDictRequest</string>
		<key>response</key>
		<string>LSDGetFollowupDictResponse</string>
		<key>url</key>
		<string>%@/followup_service/get_dicts</string>
	</dict>
	<key>CreateFollowup</key>
	<dict>
		<key>desc</key>
		<string>CreateFollowup</string>
		<key>request</key>
		<string>LSDCreateFollowupRequest</string>
		<key>response</key>
		<string>LSDCreateFollowupResponse</string>
		<key>url</key>
		<string>%@/followup_service/create_followup_record</string>
	</dict>
	<key>AddNewPatient</key>
	<dict>
		<key>desc</key>
		<string>AddNewPatient</string>
		<key>request</key>
		<string>AddNewPatientRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/add_patient</string>
	</dict>
	<key>GetPatientInfo</key>
	<dict>
		<key>desc</key>
		<string>GetPatientInfo</string>
		<key>request</key>
		<string>GetPatientInfoRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/get_patientinfo</string>
	</dict>
	<key>GetWarningSet</key>
	<dict>
		<key>desc</key>
		<string>GetWarningSet</string>
		<key>request</key>
		<string>GetWarningSetRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/get_warningset</string>
	</dict>
	<key>SetWarningSet</key>
	<dict>
		<key>desc</key>
		<string>SetWarningSet</string>
		<key>request</key>
		<string>SetWarningSetRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/set_warningset</string>
	</dict>
	<key>DealAssociation</key>
	<dict>
		<key>desc</key>
		<string>DealAssociation</string>
		<key>request</key>
		<string>DealAssociationRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/deal_association</string>
	</dict>
	<key>UnReadAssociation</key>
	<dict>
		<key>desc</key>
		<string>UnReadAssociation</string>
		<key>request</key>
		<string>LSDUnReadAssociationRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/get_unread</string>
	</dict>
	<key>QueryAssociationList</key>
	<dict>
		<key>desc</key>
		<string>QueryAssociationList</string>
		<key>request</key>
		<string>QueryAssociationListRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/get_associationlist</string>
	</dict>
	<key>GetPatientinfoList</key>
	<dict>
		<key>desc</key>
		<string>GetPatientinfoList</string>
		<key>request</key>
		<string>GetPatientinfoListRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/get_patientinfolist</string>
	</dict>
	<key>UpdatePatient</key>
	<dict>
		<key>desc</key>
		<string>UpdatePatient</string>
		<key>request</key>
		<string>UpdatePatientRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/patient_service/update_patient</string>
	</dict>
	<key>PatientDelRelation</key>
	<dict>
		<key>desc</key>
		<string>PatientDelRelation</string>
		<key>request</key>
		<string>PatientDelRelationRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/doctor_patient/del_relation</string>
	</dict>
	<key>GetOrganWelcomeImg</key>
	<dict>
		<key>desc</key>
		<string>GetOrganWelcomeImg</string>
		<key>request</key>
		<string>LSDGetOrganWelcomeImgRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/supportplatform/get_organ_welcome_img</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>desc</key>
		<string>Login</string>
		<key>request</key>
		<string>LSDLoginRequest</string>
		<key>response</key>
		<string>LSDLoginResponse</string>
		<key>url</key>
		<string>%@/doctor_service/login</string>
	</dict>
	<key>Register</key>
	<dict>
		<key>desc</key>
		<string>Register</string>
		<key>request</key>
		<string>LSDRegisterRequest</string>
		<key>response</key>
		<string>LSDRegisterResponse</string>
		<key>url</key>
		<string>%@/doctor_service/register</string>
	</dict>
	<key>GetMyFollowup</key>
	<dict>
		<key>desc</key>
		<string>GetMyFollowup</string>
		<key>request</key>
		<string>LSDMyFollowupRequest</string>
		<key>response</key>
		<string>LSDMyFollowupResponse</string>
		<key>url</key>
		<string>%@/followup_service/get_followup_records</string>
	</dict>
	<key>DeleteFollowupRecord</key>
	<dict>
		<key>desc</key>
		<string>DeleteFollowupRecord</string>
		<key>request</key>
		<string>LSDDeleteFollowupRecordRequest</string>
		<key>response</key>
		<string>LSDDeleteFollowupRecordResponse</string>
		<key>url</key>
		<string>%@/followup_service/delete_followup_record</string>
	</dict>
	<key>TransferFollowupToAssistant</key>
	<dict>
		<key>desc</key>
		<string>TransferFollowupToAssistant</string>
		<key>request</key>
		<string>LSDTransferFollowupToAssistantRequest</string>
		<key>response</key>
		<string>LSDTransferFollowupToAssistantResponse</string>
		<key>url</key>
		<string>%@/followup_service/transfer_followup_to_assistant</string>
	</dict>
	<key>GetPatientLastHeartRateInfo</key>
	<dict>
		<key>desc</key>
		<string>GetPatientLastHeartRateRecordInfo</string>
		<key>request</key>
		<string>GetLastHeartRateRecordRequest</string>
		<key>response</key>
		<string>GetLastHeartRateRecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/heartratedata/get_rate_newrecord</string>
	</dict>
	<key>GetLastBloodPressureInfo</key>
	<dict>
		<key>desc</key>
		<string>GetLastBloodPressureInfo</string>
		<key>request</key>
		<string>GetBpNewrecordRequest</string>
		<key>response</key>
		<string>GetBpNewrecordResponse</string>
		<key>url</key>
		<string>%@/datachart_service/bpdata/get_bp_newrecord</string>
	</dict>
	<key>GetLastSleepRecordRequestInfo</key>
	<dict>
		<key>desc</key>
		<string>GetLastSleepRecordRequestInfo</string>
		<key>request</key>
		<string>GetLastSleepRecordRequest</string>
		<key>response</key>
		<string>GetLastSleepRecordReqsponse</string>
		<key>url</key>
		<string>%@/datachart_service/sleepdata/get_sleep_newrecord</string>
	</dict>
	<key>GetHospital</key>
	<dict>
		<key>desc</key>
		<string>GetHospital</string>
		<key>request</key>
		<string>LSDGetHospitalRequest</string>
		<key>response</key>
		<string>LSDGetHospitalResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_hospital</string>
	</dict>
	<key>DGetDepartment</key>
	<dict>
		<key>desc</key>
		<string>DGetDepartment</string>
		<key>request</key>
		<string>LSDGetDepartmentRequest</string>
		<key>response</key>
		<string>LSDGetDepartmentResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_department</string>
	</dict>
	<key>GetTittle</key>
	<dict>
		<key>desc</key>
		<string>GetTittle</string>
		<key>request</key>
		<string>LSDGetTittleRequest</string>
		<key>response</key>
		<string>LSDGetTittleResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_title</string>
	</dict>
	<key>PerfectProfessionInfo</key>
	<dict>
		<key>desc</key>
		<string>PerfectProfessionInfo</string>
		<key>request</key>
		<string>LSDPerfectProfessionInfoRequest</string>
		<key>response</key>
		<string>LSDPerfectProfessionInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/perfect_profession_info</string>
	</dict>
	<key>CheckCaptcha</key>
	<dict>
		<key>desc</key>
		<string>CheckCaptcha</string>
		<key>request</key>
		<string>LSDCheckCaptchaRequest</string>
		<key>response</key>
		<string>LSDPerfectProfessionInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/check_code</string>
	</dict>
	<key>GetCaptcha</key>
	<dict>
		<key>desc</key>
		<string>GetCaptcha</string>
		<key>request</key>
		<string>LSDGetCaptchaRequest</string>
		<key>response</key>
		<string>LSDGetCaptchaResponse</string>
		<key>url</key>
		<string>%@/doctor_service/send_code</string>
	</dict>
	<key>ResetPassWord</key>
	<dict>
		<key>desc</key>
		<string>ResetPassWord</string>
		<key>request</key>
		<string>LSDResetPassWordRequest</string>
		<key>response</key>
		<string>LSDResetPassWordResponse</string>
		<key>url</key>
		<string>%@/doctor_service/reset_password</string>
	</dict>
	<key>CheckMobile</key>
	<dict>
		<key>desc</key>
		<string>CheckMobile</string>
		<key>request</key>
		<string>LSDCheckMobileRequest</string>
		<key>response</key>
		<string>LSDCheckMobileResponse</string>
		<key>url</key>
		<string>%@/doctor_service/loginname_available</string>
	</dict>
	<key>CertificationInfo</key>
	<dict>
		<key>desc</key>
		<string>CertificationInfo</string>
		<key>request</key>
		<string>LSDCertificationInfoRequest</string>
		<key>response</key>
		<string>LSDCheckMobileResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_certification</string>
	</dict>
	<key>GetDoctorInfo</key>
	<dict>
		<key>desc</key>
		<string>GetDoctorInfo</string>
		<key>request</key>
		<string>LSDDoctorInfoRequest</string>
		<key>response</key>
		<string>LSDCheckMobileResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_current_doctor</string>
	</dict>
	<key>ModifyDoctorName</key>
	<dict>
		<key>desc</key>
		<string>ModifyDoctorName</string>
		<key>request</key>
		<string>LSDModifyDoctorNameRequest</string>
		<key>response</key>
		<string>LSDCheckMobileResponse</string>
		<key>url</key>
		<string>%@/doctor_service/update_doctor_name</string>
	</dict>
	<key>PerfectPersonalInfo</key>
	<dict>
		<key>desc</key>
		<string>ModifyDoctorName</string>
		<key>request</key>
		<string>LSDModifyDoctorNameRequest</string>
		<key>response</key>
		<string>LSDCheckMobileResponse</string>
		<key>url</key>
		<string>%@/doctor_service/perfect_personal_info</string>
	</dict>
	<key>CheckPassword</key>
	<dict>
		<key>desc</key>
		<string>CheckPassword</string>
		<key>request</key>
		<string>LSDPerfectPersonalInfoRequest</string>
		<key>response</key>
		<string>LSDDoctorInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/check_password</string>
	</dict>
	<key>GetQrcode</key>
	<dict>
		<key>desc</key>
		<string>GetQrcode</string>
		<key>request</key>
		<string>LSDGetQrcodeRequest</string>
		<key>response</key>
		<string>LSDDoctorInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_qrcode</string>
	</dict>
	<key>ModifyMobileNumber</key>
	<dict>
		<key>desc</key>
		<string>ModifyMobileNumber</string>
		<key>request</key>
		<string>LSDModifyMobileNumberRequest</string>
		<key>response</key>
		<string>LSDDoctorInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/change_mobile</string>
	</dict>
	<key>GetInvitedDoctor</key>
	<dict>
		<key>desc</key>
		<string>GetInvitedDoctor</string>
		<key>request</key>
		<string>LSDGetInvitedDoctorsRequest</string>
		<key>response</key>
		<string>LSDDoctorInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/get_invited_doctors</string>
	</dict>
	<key>ModifyPassword</key>
	<dict>
		<key>desc</key>
		<string>ModifyPassword</string>
		<key>request</key>
		<string>LSDModifyPasswordRequest</string>
		<key>response</key>
		<string>LSDDoctorInfoResponse</string>
		<key>url</key>
		<string>%@/doctor_service/update_password</string>
	</dict>
	<key>LogOut</key>
	<dict>
		<key>desc</key>
		<string>LogOut</string>
		<key>request</key>
		<string>LSDLogOutRequest</string>
		<key>response</key>
		<string>LSDLogOutResponse</string>
		<key>url</key>
		<string>%@/doctor_service/login_out</string>
	</dict>
	<key>CommitCertification</key>
	<dict>
		<key>desc</key>
		<string>CommitCertification</string>
		<key>request</key>
		<string>LSDCommitCertificationRequest</string>
		<key>response</key>
		<string>LSDCommitCertificationResponse</string>
		<key>url</key>
		<string>%@/doctor_service/save_certification</string>
	</dict>
	<key>UpdateValidastatus</key>
	<dict>
		<key>desc</key>
		<string>UpdateValidastatus</string>
		<key>request</key>
		<string>LSDUpdateValidastatusRequest</string>
		<key>response</key>
		<string>LSDCommitCertificationResponse</string>
		<key>url</key>
		<string>%@/doctor_service/update_validastatus</string>
	</dict>
	<key>ImCreateAccount</key>
	<dict>
		<key>desc</key>
		<string>ImCreateAccount</string>
		<key>request</key>
		<string>LSDSessionCreateAccountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/create_account</string>
	</dict>
	<key>ImGetAccount</key>
	<dict>
		<key>desc</key>
		<string>ImGetAccount</string>
		<key>request</key>
		<string>LSDSessionGetAccountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/get_account</string>
	</dict>
	<key>ImGetTeam</key>
	<dict>
		<key>desc</key>
		<string>ImGetTeam</string>
		<key>request</key>
		<string>LSDSessionGetTeamRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/get_team</string>
	</dict>
	<key>ImCreatTeam</key>
	<dict>
		<key>desc</key>
		<string>ImCreatTeam</string>
		<key>request</key>
		<string>LSDSessionCreatTeamRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/create_team</string>
	</dict>
	<key>ImRefreshAccount</key>
	<dict>
		<key>desc</key>
		<string>ImRefreshAccount</string>
		<key>request</key>
		<string>LSDSessionRefreshAccountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/refresh_account</string>
	</dict>
	<key>ImUploadFile</key>
	<dict>
		<key>desc</key>
		<string>ImUploadFile</string>
		<key>request</key>
		<string>LSDSessionUploadFileRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/im_service/upload_file</string>
	</dict>
	<key>CollectDataBegin</key>
	<dict>
		<key>desc</key>
		<string>CollectDataBegin</string>
		<key>request</key>
		<string>LSDCollectDataBeginRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/collect_service/begin</string>
	</dict>
	<key>CollectDataEnd</key>
	<dict>
		<key>desc</key>
		<string>CollectDataEnd</string>
		<key>request</key>
		<string>LSDCollectDataEndRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/collect_service/end</string>
	</dict>
	<key>CollectDataComfirn</key>
	<dict>
		<key>desc</key>
		<string>CollectDataComfirn</string>
		<key>request</key>
		<string>LSDCollectDataComfirnRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/collect_service/comfirn</string>
	</dict>
	<key>CollectDataIgnore</key>
	<dict>
		<key>desc</key>
		<string>CollectDataIgnore</string>
		<key>request</key>
		<string>LSDCollectDataIgnoreRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/collect_service/ignore</string>
	</dict>
	<key>GetLastFewDaysCount</key>
	<dict>
		<key>desc</key>
		<string>GetLastFewDaysCount</string>
		<key>request</key>
		<string>LSDGetFewDaysCountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/get_last_few_days_count</string>
	</dict>
	<key>GetExceptionCount</key>
	<dict>
		<key>desc</key>
		<string>GetExceptionCount</string>
		<key>request</key>
		<string>LSDGetExceptionCountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/get_exception_count</string>
	</dict>
	<key>GetFollowupRecordOverdueCount</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupRecordOverdueCount</string>
		<key>request</key>
		<string>LSDGetFollowupRecordOverdueCountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/get_followup_record_count/overdue</string>
	</dict>
	<key>GetFollowupRecordThisWeekCount</key>
	<dict>
		<key>desc</key>
		<string>GetFollowupRecordThisWeekCount</string>
		<key>request</key>
		<string>LSDGetFollowupRecordThisWeekCountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/followup_service/get_followup_record_count/this_week</string>
	</dict>
	<key>GetException</key>
	<dict>
		<key>desc</key>
		<string>GetException</string>
		<key>request</key>
		<string>LSDGetExceptionRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/get_exception</string>
	</dict>
	<key>GetExceptionRecords</key>
	<dict>
		<key>desc</key>
		<string>GetExceptionRecords</string>
		<key>request</key>
		<string>LSDGetExceptionRecordsRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/get_exception_records</string>
	</dict>
	<key>GetExceptionRecordsByDoctorId</key>
	<dict>
		<key>desc</key>
		<string>GetExceptionRecordsByDoctorId</string>
		<key>request</key>
		<string>LSDGetExceptionRecordsByDoctorIdRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/get_exception_records_by_doctor_id</string>
	</dict>
	<key>HandleExceptionRecord</key>
	<dict>
		<key>desc</key>
		<string>HandleExceptionRecord</string>
		<key>request</key>
		<string>LSDHandleExceptionRecordRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/handle_exception_record</string>
	</dict>
	<key>IgnoreException</key>
	<dict>
		<key>desc</key>
		<string>IgnoreException</string>
		<key>request</key>
		<string>LSDIgnoreExceptionRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/ignore_exception</string>
	</dict>
	<key>TransferToAssistant</key>
	<dict>
		<key>desc</key>
		<string>TransferToAssistant</string>
		<key>request</key>
		<string>LSDTransferToAssistantRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/abnormal_service/transfer_to_assistant</string>
	</dict>
	<key>AddScheduler</key>
	<dict>
		<key>desc</key>
		<string>AddScheduler</string>
		<key>request</key>
		<string>LSDNewAddSchedulerRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/add</string>
	</dict>
	<key>GetYearSchedule</key>
	<dict>
		<key>desc</key>
		<string>GetYearSchedule</string>
		<key>request</key>
		<string>LSDGetYearAndMonthScheduleRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/get_day_list</string>
	</dict>
	<key>DeleteSchedule</key>
	<dict>
		<key>desc</key>
		<string>DeleteSchedule</string>
		<key>request</key>
		<string>LSDDeleteSchedulesRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/delete</string>
	</dict>
	<key>GetSchedule</key>
	<dict>
		<key>desc</key>
		<string>GetSchedule</string>
		<key>request</key>
		<string>LSDGetScheduleRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/get_schedule</string>
	</dict>
	<key>GetTypeList</key>
	<dict>
		<key>desc</key>
		<string>GetTypeList</string>
		<key>request</key>
		<string>LSDGetAllSchedulesTypeRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/get_type_list</string>
	</dict>
	<key>UpdateSchedule</key>
	<dict>
		<key>desc</key>
		<string>UpdateSchedule</string>
		<key>request</key>
		<string>LSDReviseSchduleRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/update</string>
	</dict>
	<key>ListSchedule</key>
	<dict>
		<key>desc</key>
		<string>ListSchedule</string>
		<key>request</key>
		<string>LSDListScheduleRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/schedule_service/list</string>
	</dict>
	<key>GetSystemMessage</key>
	<dict>
		<key>desc</key>
		<string>GetSystemMessage</string>
		<key>request</key>
		<string>LSDGetSystemMessageRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/sysmessage_service/list</string>
	</dict>
	<key>SendSystemMessage</key>
	<dict>
		<key>desc</key>
		<string>SendSystemMessage</string>
		<key>request</key>
		<string>LSDSendSystemMessageRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/sysmessage_service/send</string>
	</dict>
	<key>DeletedSystemMessage</key>
	<dict>
		<key>desc</key>
		<string>DeletedSystemMessage</string>
		<key>request</key>
		<string>LSDDeletedSystemMessageRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/sysmessage_service/delete</string>
	</dict>
	<key>FindSystemMessage</key>
	<dict>
		<key>desc</key>
		<string>FindSystemMessage</string>
		<key>request</key>
		<string>LSDFindSystemMessageRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/sysmessage_service/get_sys_message</string>
	</dict>
	<key>LSDGetSystemMsgCount</key>
	<dict>
		<key>desc</key>
		<string>LSDGetSystemMsgCount</string>
		<key>request</key>
		<string>LSDGetSystemMsgCountRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/sysmessage_service/get_unread_count</string>
	</dict>
	<key>LSDBindDevice</key>
	<dict>
		<key>desc</key>
		<string>LSDBindDevice</string>
		<key>request</key>
		<string>LSDBindDeviceRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/device/bind_device</string>
	</dict>
	<key>LSDGetDevice</key>
	<dict>
		<key>desc</key>
		<string>LSDGetDevice</string>
		<key>request</key>
		<string>LSDGetDeviceRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/device/get_device</string>
	</dict>
	<key>LSDUnbindDevice</key>
	<dict>
		<key>desc</key>
		<string>LSDUnbindDevice</string>
		<key>request</key>
		<string>LSDUnbindDeviceRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/device/unbind_device</string>
	</dict>
	<key>LSDCheckBindInfo</key>
	<dict>
		<key>desc</key>
		<string>LSDCheckBindInfo</string>
		<key>request</key>
		<string>LSDCheckBindInfoRequest</string>
		<key>response</key>
		<string></string>
		<key>url</key>
		<string>%@/doctorapp_service/device/check_bindinfo</string>
	</dict>
</dict>
</plist>
